{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<main>
    <section class="about">
        <article class="author">
            <img src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" />
            <h1>{{ .Site.Params.Author }}</h1>
        </article>
        {{ range (where .Site.RegularPages "Section" "about" )}}
        <article>
            {{ .Content }}
        </article>
        {{ end }}
    </section>
    <section class="activities">
        <article class="thingsido">
            <h1>Things I do</h1>
        </article>
        {{ range (where .Site.RegularPages "Section" "activities" )}}

        <article class="activities">
            {{ if .Params.activityurl }}
            <a href="{{ .Params.activityurl }}" class="activities-title" target="_blank">{{ .Title }}</a>
            {{ else }}
            <h1>{{ .Title }}</h1>
            {{ end }}
            {{ if .Params.books }}
            {{ .Content }}
            <p><a href="{{ .Page.Permalink }}" style="font-weight: bold;">See books list</a></p>
            {{ else }}
                {{ .Content }}
            {{ end }}
        </article>

        {{ end }}
    </section>
</main>

{{ end }}