{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<main>
    <section class="about">
        <article class="author">
            <img src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" />
            <h1>{{ .Site.Params.Author }}</h1>
        </article>
        {{ range (where .Site.RegularPages "Section" "about" )}}
        <article>
            {{ .Content }}
        </article>
        {{ end }}
    </section>
    <section class="activities">
        <article class="thingsido">
            <h1>Things I do</h1>
        </article>
        {{ range (where .Site.RegularPages "Section" "activities" )}}

        <article class="activities">
            {{ if .Params.activityurl }}
            <a href="{{ .Params.activityurl }}" class="activities-title" target="_blank">{{ .Title }}</a>
            {{ else }}
            <h1>{{ .Title }}</h1>
            {{ end }}
            {{ if .Params.books }}
            {{ .Content }}
            <div class="books">
            {{ range .Params.books }}
                <div class="books-content">
                    <h1>{{ .title }}</h1>
                    <p><img src="{{ .Site.BaseURL }}{{ .cover }}" /></p>
                    <ul>
                        {{ if .genre }}
                        <li><b>Genre</b> : {{ .genre }}</li>
                        {{ end }}
                        {{ if .description }}
                        <li><b>Description</b> : {{ .description }}</li>
                        {{ end }}
                        {{ if .published }}
                        <li><b>Published in</b> : {{ .published }}</li>
                        {{ end }}
                        {{ if .language }}
                        <li><b>Language</b> : {{ .language }}</li>
                        {{ end }}
                        {{ if .freeread }}
                        <li>- <a href="{{ .freeread }}" target="_blank">Read for Free</a></li>
                        {{ end }}
                        {{ if .kindle }}
                        <li>- <a href="{{ .kindle }}" target="_blank">Buy it to support (Amazon)</a></li>
                        {{ end }}
                        {{ if .kobo }}
                        <li>- <a href="{{ .kobo }}" target="_blank">Buy it to support (Kobo)</a></li>
                        {{ end }}
                        {{ if .kofi }}
                        <li>- <a href="{{ .kofi }}" target="_blank">Buy it to support (Ko-Fi)</a></li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
            </div>
            {{ else }}
                {{ .Content }}
            {{ end }}
        </article>

        {{ end }}
    </section>
</main>

{{ end }}